# ***Theory Questions***

Q1. What are data structures, and why are they important ?
- Data structures are ways of organizing and storing data. They are important because they help programs run faster and use memory more efficiently.

Q2. Explain the difference between mutable and immutable data types with examples ?
- Mutable data types can be changed after they are created, while immutable data types cannot be changed.

 **Example(mutable) :**

 my_list = [1, 2, 3] my_list[0] = 10 # Changing the first item my_list.append(4) # Adding a new item

 **Example(mutable) :**

 my_list = [1, 2, 3] my_list[0] = 10 # Changing the first item my_list.append(4) # Adding a new item

 E**xample(Immutable):**

 my_tuple = (1, 2, 3)

 **my_tuple[0] = 10 # This would cause an error**

Q3. What are the main differences between lists and tuples in Python ?
- The main differences between lists and tuples in Python are:

 Changeability:

 List: You can change, add, or remove items. Tuple: You cannot change, add, or remove items. Symbols:

 List: Created with square brackets []. Tuple: Created with round brackets (). Speed:

 List: Slower because it can be changed. Tuple: Faster because it cannot be changed. When to use:

 List: Use when you need to change data. Tuple: Use when you don't want the data to change.

Q4. Describe how dictionaries store data ?
- Dictionaries in Python store data as pairs of keys and values. Each key is unique and is used to look up a corresponding value.

Q5. Why might you use a set instead of a list in Python ?
- You might use a set instead of a list in Python because:

 No Duplicates: A set automatically removes duplicate values, while a list can have duplicates. Faster Search: Sets are quicker when checking if an item is in the set. Unordered: Sets don't care about the order of items, so if order doesn’t matter, a set is a good choice.

Q6. What is a string in Python, and how is it different from a list ?
- A string in Python is a sequence of characters, used to represent text. It is enclosed in either single quotes (') or double quotes (").

 A string is for text and cannot be changed. A list can hold various types of data and can be changed.

Q7. How do tuples ensure data integrity in Python ?
                                                                                                                    
- Tuples ensure data integrity in Python because they are immutable, meaning once you create a tuple, you cannot change, add, or remove any of its elements. This makes sure that the data inside a tuple stays the same throughout the program, protecting it from accidental changes.

Q8. What is a hash table, and how does it relate to dictionaries in Python ?
- A hash table is a data structure that stores key-value pairs and uses a special function (called a hash function) to convert the key into an index where the value is stored. This allows for fast lookups, insertions, and deletions.

Q9: Can lists contain different data types in Python ?
                                                                                                                                                                                                                                           
- Yes, lists in Python can contain different data types. A list can hold a mix of numbers, strings, booleans, or even other lists.

Q10. Explain why strings are immutable in Python ?
- Strings are immutable in Python because once they are created, their content cannot be changed. This helps make programs faster and safer by preventing accidental changes to the data. If you need to modify a string, Python creates a new string with the changes instead of changing the original one.

Q11. What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries offer several advantages over lists for certain tasks:

 Faster Lookups: You can quickly find a value using a key in a dictionary, while with a list, you have to search through all the items.

 Key-Value Pairs: Dictionaries store data as key-value pairs, making it easier to organize and access data based on a specific key, unlike lists which just store values in order.

 No Duplicates for Keys: In a dictionary, each key is unique, so you don't need to worry about duplicate keys, while lists can have duplicate items.

Q12. Describe a scenario where using a tuple would be preferable over a list ?
                                                                                                                    
- A tuple would be better than a list if you need to store data that should not be changed. For example, if you're storing a date (like year, month, day), you don’t want the values to change by accident.

Q13. How do sets handle duplicate values in Python ?
- Sets automatically remove duplicate values. If you try to add a duplicate value to a set, it will only keep one copy of that value.

Q14.How does the “in” keyword work differently for lists and dictionaries ?
- The in keyword works differently for lists and dictionaries in Python:

 For lists: It checks if a value is present in the list. For dictionaries: It checks if a key is present in the dictionary, not the value.

Q15. Can you modify the elements of a tuple? Explain why or why not ?
- No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This is to protect the data from being accidentally changed.

Q16. What is a nested dictionary, and give an example of its use case ?
- A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to organize data in multiple layers.

 Example: students = { "Millan": {"age": 20, "grades": [85, 90, 88]}, "Rex": {"age": 22, "grades": [78, 82, 80]}, }

 Use case: You can access specific information about a student, like Bob's age, by using the student's name as the key, and then the age key inside that student's dictionary.

 Example: print(students["Rex"]["age"])

Q17.Describe the time complexity of accessing elements in a dictionary ?
- Accessing elements in a dictionary is very fast and has a time complexity of O(1), which means it takes the same amount of time no matter how many items are in the dictionary.

 This is because dictionaries use a special method (hashing) to find the value quickly using the key.

Q18. In what situations are lists preferred over dictionaries ?
- Lists are preferred over dictionaries in situations where:

 Order matters: If you need to keep items in a specific order, use a list.

 Index-based access: If you need to access items by their position (like the first, second, etc.), lists are better.

 Storing similar items: If you're storing a collection of similar items (like numbers or names), a list is a good choice.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- Dictionaries are considered unordered because the items (key-value pairs) do not have a specific order. This means the items might not appear in the same order every time you access them.

 However, this doesn't affect data retrieval. You can still quickly find values by their keys regardless of the order of the items.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval ?
- The main difference between a list and a dictionary in terms of data retrieval is how you access the data:

 List: You access elements by their index (position in the list).

 Dictionary: You access elements by their key, not by position.

# ***Pratical Questions:-***

In [1]:
### Q1. Write a code to create a string with your name and print it ?

#Answer:

my_name = "Millan"
print(my_name)

Millan

In [2]:
### Q2. Write a code to find the length of the string "Hello World" ?

#Answer:

my_string = "Hello World"
length = len(my_string)
print(length)

11

In [3]:

## Q3. Write a code to slice the first 3 characters from the string "Python Programming" ?

#Answer:

my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [4]:
### Q4. Write a code to convert the string "hello" to uppercase ?

# Answer

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [5]:
### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

#Answer:

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
### Q6. Write a code to create a list with numbers 1 to 5 and print it ?

#Answer:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
#Answer:

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
###Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

# Answer:

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

#Answer:

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
### Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

#Answer:

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
### Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it ?

# Answer:

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [12]:
### Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

#Answer:

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [13]:
### Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

# Answer:

my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [15]:
### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

#Answer:

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [14]:
### Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

#Answer:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

In [17]:
### Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

#Answer:

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [16]:
### Q17:  Write a code to add the element 6 to the set {1, 2, 3, 4}.

#Answer:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [19]:
### Q18: Write a code to create a tuple with the elements 10, 20, 30 and print it.

# Answer:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [18]:
### Q19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

#Answer:

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [20]:
### Q20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

#Answer:

my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [21]:
### Q21: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

#Answer:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [22]:
### Q22: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

#Answer:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

In [23]:
### Q23: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

#Answer:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [24]:
### Q24: Write a code to add the element 6 to the set {1, 2, 3, 4}.

#Answer:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}